:root {
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-thumb {
  background: #6ec5ff;
}

.markdown__render * {
  color: #c1bdb3;
  max-width: 750px;
  font-size: 1.2rem;
}

.markdown__render hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
