:root {
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-thumb {
  background: #6ec5ff;
}

.markdown__render * {
  color: #f0f0f0;
  max-width: 750px;
  font-size: 1.2rem;
}

.markdown__render hr {
  height: 2px;
  color: #61ffea;
  background-color: #61ffea;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.markdown__render--hr {
  height: 2px;
  color: #61ffea;
  background-color: #61ffea;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
